@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.desktop-icon {
    width: 100px;
    text-align: center;
    color: white;
    cursor: pointer;
    user-select: none;
    padding-left: 5px;
  }
  
  .desktop-icon img {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto 4px;
  }
  
  .desktop-icon span {
    font-size: 12px;
    word-break: break-word;
    font-family: 'Press Start 2P', monospace;
  }
  