.project-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 0px 100px 0px;
  }

  @media (max-width: 768px) {
    .project-icons {
      gap: 12px;
      padding: 6px 0 70px 0;
      justify-content: center;
    }
  }
  
