@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.window {
  position: absolute;
  min-width: 400px;
  top: 100px;
  left: 100px;
  background-color: #c0c0c0;
  border: 2px solid #000;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 10;
  font-family: 'Tahoma', sans-serif;
} 

.title-bar {
  background: linear-gradient(to bottom, #000080, #000060);
  color: white;
  font-weight: bold;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: move;
  box-shadow: inset -1px -1px 0 #000, inset 1px 1px 0 #000080;
}

.title-bar-text {
  font-size: 13px;
  padding-left: 4px;
  flex: 1;
  user-select: none;
  font-family: 'Press Start 2P', monospace;
}

.title-bar-controls {
  display: flex;
  gap: 2px;
}

.title-bar-controls button {
  width: 16px;
  height: 14px;
  margin-right: 2px;
  background-color: #c0c0c0;
  border: 2px solid #fff;
  border-right-color: #808080;
  border-bottom-color: #808080;
  border-top-color: #fff;
  border-left-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.title-bar-controls button img {
  width: 12px;
  height: 12px;
  pointer-events: none;
}

.window-content {
  padding: 10px;
  background-color: #bdbdbd;
  font-size: 14px;
  
}
